# macos standard files
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
.CFUserTextEncoding
.Trash/
.cups/


# droppings
/.Xauthority
/.account
/.aspell.*
/.bash_history
/.boxes/
/.cache/
/.config/
/.ddd/
/.dropbox*/
/.emacs.d/
/.esets/
/.fontconfig/
/.gdb_history
/.gem/
/.lesshst
/.local/
/.npm/
/.psci_modules/
/.purescript/
/.rnd
/.serverauth*
/.ssh/
/.subversion/
/.vagrant.d/
/.wine/
/DOS Games/
/Dropbox/
/Google Drive/
/Sports Interactive/
/VirtualBox VMs/
/boxes/
/epub/
/iterm.log
/rasperl/

# erlang droppings
*.trz
/.dialyzer_plt
/.erlang-flymake/
/.erlang.cookie
/flymaker.log

# git projects
/git/
