# macos standard files
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
.CFUserTextEncoding
.DS_Store
.Trash/
.cups/

# droppings
*~
/.Xauthority
/.aspell.*
/.bash_history
/.dropbox/
/.emacs.d/
/.fontconfig/
/.gem/
/.lesshst
/.local/share/googlecl/
/.pip/
/.sh_history
/.ssh/
/.vagrant.d/
/Dropbox/
/VirtualBox VMs/
/iterm.log
/vagrant/
/boxes/

# erlang droppings
/.erlang-flymake/
/flymaker.log
erl_crash.dump
.erlang.cookie

# git projects
/git/
