# -*- mode: conf -*-
[user]
  name = mats cronqvist
  email = mats.cronqvist@gmail.com

[github]
  user = massemanet

[color]
   ui = auto

[alias]
  co = checkout
  st = status
  lol   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  in    = log HEAD..origin/master
  out   = log origin/master..HEAD
  unstage = reset HEAD --
  last = log -1 HEAD
  alias = "!git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"

[push]
  default = simple
