# -*- mode: conf -*-
[user]
  name = mats cronqvist
  email = masse@cronqvi.st

[github]
  user = massemanet

[color]
   ui = auto

[alias]
  co = checkout
  st = status
  lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  sync = "! git fetch --prune && git pull && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -n1 git branch -D"
  alias = "! git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"

[push]
  default = simple
